{% extends "base.html" %}

{% block content %}
    
    {% for contact in contacts %}
    <div>
    	<p>{{ contact.name }} address: <b>{{ contact.address }}</b> 
    		<a href="/contact/{{contact.id}}">Edit</a>
    		 
    	</p>
    </div>
    {% endfor %}
{% endblock %}
