{% extends "base.html" %}

{% block content %}
    <h1>New Contact</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=64) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ref.label }}<br>
            {{ form.ref(size=16) }}
            {% for error in form.ref.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.street.label }}<br>
            {{ form.street(size=64) }}
            {% for error in form.street.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.street_no.label }}<br>
            {{ form.street_no(size=16) }}
            {% for error in form.street_no.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 
        <p>
            {{ form.zip_code.label }}<br>
            {{ form.zip_code(size=16) }}
            {% for error in form.zip_code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>               
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city_id }}
            {% for error in form.city_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>        
        <p>
            {{ form.customer() }} {{ form.customer.label }}
            {% for error in form.customer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.supplier() }} {{ form.supplier.label }}
            {% for error in form.supplier.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}            
        </p>
        <p>
            {{ form.company() }} {{ form.company.label }}
            {% for error in form.company.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}            
        </p>
        <p>{{ form.submit() }}</p>
    </form>

<script type="text/javascript">
$(function() {
    $("#city").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete_city')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.cities); // matching_results from jsonify
            });
        },
        focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.value);
        },        
        minLength: 3,
        delay: 150,
        select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $("#city_id").val(ui.item.id);
        }
    });
})

</script>
{% endblock %}